// header
.header {
    position: fixed;
    top: -190px;
    width: 100%;
    z-index: $zindex-fixed;
    transition: top .5s;

    &.header-light {
        background-color: #ffffff;
    }
    
    &.show {
        top: 0;
    }
    
    @import "header/logo.scss";
    
    @import "header/desktop.scss";
    
    @import "header/mobile.scss";
}

// header mobile overflow
body.mobile-menu-open,
html.mobile-menu-open { overflow: hidden;}