.accordion-button {
    color: $dark-green;

    &:not(.collapsed) {
        background-color: transparent !important;
    }
}

.accordion-body {
    background-color: transparent !important;
    padding: 1.875rem 1rem;
}