@font-face {
  font-family: 'icon';
  src:  url('../fonts/icons.eot?ynrkd7');
  src:  url('../fonts/icons.eot?ynrkd7#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?ynrkd7') format('truetype'),
    url('../fonts/icons.woff?ynrkd7') format('woff'),
    url('../fonts/icons.svg?ynrkd7#underwing') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-agency-provider:before {
  content: "\e900";
}
.icon-application-add:before {
  content: "\e942";
}
.icon-arrow-left:before {
  content: "\e940";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-arrow-roadmap:before {
  content: "\e943";
}
.icon-bell-notification:before {
  content: "\e902";
}
.icon-benefit-agency-provider:before {
  content: "\e944";
}
.icon-benefit-billing:before {
  content: "\e945";
}
.icon-benefit-caregiver:before {
  content: "\e941";
}
.icon-benefit-compliance:before {
  content: "\e946";
}
.icon-benefit-data-dashboard:before {
  content: "\e947";
}
.icon-benefit-evv:before {
  content: "\e948";
}
.icon-benefit-growth:before {
  content: "\e949";
}
.icon-benefit-homecare:before {
  content: "\e94a";
}
.icon-benefit-idd:before {
  content: "\e94b";
}
.icon-benefit-mobile-app:before {
  content: "\e94c";
}
.icon-benefit-payer-mco:before {
  content: "\e94d";
}
.icon-benefit-scheduling:before {
  content: "\e94e";
}
.icon-benefit-self-direction:before {
  content: "\e94f";
}
.icon-benefit-states:before {
  content: "\e950";
}
.icon-benefit-value-based-care:before {
  content: "\e951";
}
.icon-billing:before {
  content: "\e903";
}
.icon-binoculars:before {
  content: "\e904";
}
.icon-book:before {
  content: "\e952";
}
.icon-cargiver:before {
  content: "\e905";
}
.icon-cashing-check:before {
  content: "\e953";
}
.icon-chat-bubble:before {
  content: "\e954";
}
.icon-chat-bubble-typing-oval:before {
  content: "\e906";
}
.icon-check-square:before {
  content: "\e907";
}
.icon-checkup-medical-report:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-cog:before {
  content: "\e90a";
}
.icon-coin-share:before {
  content: "\e955";
}
.icon-compliance:before {
  content: "\e90b";
}
.icon-critical-thinking:before {
  content: "\e956";
}
.icon-customer-support:before {
  content: "\e90c";
}
.icon-dashboard-gauge:before {
  content: "\e957";
}
.icon-data-dashboard:before {
  content: "\e90d";
}
.icon-database:before {
  content: "\e958";
}
.icon-decent-work-and-economic-growth:before {
  content: "\e90e";
}
.icon-definition-search-book:before {
  content: "\e90f";
}
.icon-dial-pad-finger:before {
  content: "\e910";
}
.icon-dollar-sign-increase:before {
  content: "\e959";
}
.icon-download-tray:before {
  content: "\e911";
}
.icon-empty-clipboard:before {
  content: "\e912";
}
.icon-evv:before {
  content: "\e913";
}
.icon-facebook:before {
  content: "\e914";
}
.icon-filter:before {
  content: "\e915";
}
.icon-graduation-cap:before {
  content: "\e916";
}
.icon-graph-bar-increase:before {
  content: "\e95a";
}
.icon-group-meeting-approval:before {
  content: "\e95b";
}
.icon-growth:before {
  content: "\e917";
}
.icon-heart:before {
  content: "\e95c";
}
.icon-heart-cross:before {
  content: "\e918";
}
.icon-heart-rate:before {
  content: "\e919";
}
.icon-help-chat:before {
  content: "\e91a";
}
.icon-hierarchy:before {
  content: "\e91b";
}
.icon-homecare:before {
  content: "\e91c";
}
.icon-horizontal-slider:before {
  content: "\e91d";
}
.icon-hourglass:before {
  content: "\e91e";
}
.icon-i-dd:before {
  content: "\e91f";
}
.icon-information-circle:before {
  content: "\e920";
}
.icon-japanese-alphabet:before {
  content: "\e921";
}
.icon-justice-scale:before {
  content: "\e95d";
}
.icon-keyboard_arrow_down:before {
  content: "\e922";
}
.icon-keyboard_arrow_up:before {
  content: "\e923";
}
.icon-layers:before {
  content: "\e924";
}
.icon-lightbulb:before {
  content: "\e95e";
}
.icon-like:before {
  content: "\e925";
}
.icon-link-chain:before {
  content: "\e926";
}
.icon-linkedin:before {
  content: "\e927";
}
.icon-magnifying-glass:before {
  content: "\e95f";
}
.icon-menu-header-open:before {
  content: "\e928";
}
.icon-mobile-app:before {
  content: "\e929";
}
.icon-multple-stars:before {
  content: "\e960";
}
.icon-new-badge-highlight:before {
  content: "\e961";
}
.icon-new-file:before {
  content: "\e92a";
}
.icon-non-commercial-dollars:before {
  content: "\e962";
}
.icon-notepad-text:before {
  content: "\e92b";
}
.icon-office-building:before {
  content: "\e92c";
}
.icon-open-umbrella:before {
  content: "\e963";
}
.icon-padlock-square:before {
  content: "\e92d";
}
.icon-paperclip:before {
  content: "\e92e";
}
.icon-payer-mco:before {
  content: "\e92f";
}
.icon-pen-tool:before {
  content: "\e964";
}
.icon-pencil-square:before {
  content: "\e965";
}
.icon-piggy-bank:before {
  content: "\e966";
}
.icon-printer:before {
  content: "\e967";
}
.icon-projector-board:before {
  content: "\e968";
}
.icon-receipt:before {
  content: "\e969";
}
.icon-scheduling:before {
  content: "\e930";
}
.icon-screwdriver-wrench:before {
  content: "\e96a";
}
.icon-self-direction:before {
  content: "\e931";
}
.icon-share-link:before {
  content: "\e932";
}
.icon-sound-recognition-search:before {
  content: "\e933";
}
.icon-star-badge:before {
  content: "\e96b";
}
.icon-star-circle:before {
  content: "\e96c";
}
.icon-state-mdical-programs:before {
  content: "\e934";
}
.icon-stopwatch:before {
  content: "\e935";
}
.icon-subscription-cashflow:before {
  content: "\e96d";
}
.icon-tablet-capsule:before {
  content: "\e936";
}
.icon-text-file:before {
  content: "\e937";
}
.icon-threat-monitor:before {
  content: "\e96e";
}
.icon-timer-zero:before {
  content: "\e938";
}
.icon-trophy:before {
  content: "\e939";
}
.icon-upload:before {
  content: "\e96f";
}
.icon-user-circle-single:before {
  content: "\e93a";
}
.icon-user-identifier-card:before {
  content: "\e93b";
}
.icon-value-based-care:before {
  content: "\e93c";
}
.icon-vimeo:before {
  content: "\e93d";
}
.icon-warning-diamond:before {
  content: "\e970";
}
.icon-warranty-badge-highlight:before {
  content: "\e971";
}
.icon-wheelchair:before {
  content: "\e93e";
}
.icon-wrench-hand:before {
  content: "\e972";
}
.icon-x:before {
  content: "\e93f";
}
